<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Web</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Bem vindo ao Meu Projeto MVC</h1>
    <p>Esta é uma introdução ao padrão MVC aplicado em um projeto web</p>
    <table id="tabelaProduto">
        <thead>
            <tr>
                <th>Código do Produto</th>
                <th>Nome</th>
                <th>Preço: R$</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <script type="module" src="/public/js/script.js"></script>
</body>
</html>


